# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/External C++ Template/v16/Browse.VC.db-shm
.vs/External C++ Template/v16/.suo
*.db
*.db-wal
*.opendb
*.ipch
*.recipe
*.ilk
*.log
*.pdb
*.txt
*.tlog
*.idb
*.iobj
*.ipdb
.vs/Jimmy's External Cheat Framework/v16/.suo
*.db-shm
